<div class="content-container">

	<%=image_tag('cloud.svg', size: '250x150', class: 'cloud-one') %>

	<%=image_tag('cloud.svg', size: '170x120', class: 'cloud-two') %>

	<%=image_tag('cloud.svg', size: '125x55', class: 'cloud-three') %>

	<%=image_tag('ripple-small.svg', size: '200x100', class: 'ripple-left') %>

	<%=image_tag('ripple-small.svg', size: '150x50', class: 'ripple-right') %>

	<%=image_tag('ladybug.svg', size: '50x50', class: 'ladybug') %>

	<div class="quote-outer">
		<div class="quote-container"></div>
	</div>

	<div class="frog-container">
		<div class="eye-outer-div">
	  	  	<div class="eye-container">
		      	<div class="eye-black left"></div>
		      	<div class="eye-black right"></div>
		  	</div>
	  	</div>
	    <%= link_to image_tag('frog-only-without-eyes.svg', size: '300x280', alt: 'frog illustration', class: 'frog'), pages_quote_path, remote: true %>
	</div>
</div>

<script>
$('.frog-container').on('click', function(){
    $('.eye-black').removeClass('look-up');
    var extraEyes = $('.eye-container').clone();
    $('.eye-container').remove();
    $('.eye-outer-div').prepend(extraEyes);
    $('.eye-black').addClass('look-up');
});
</script>






				